RPG_Game/.vs/RPG_Game/FileContentIndex/59f5c91e-eaa0-48bc-acb5-4e808700a4b7.vsidx
RPG_Game/.vs/RPG_Game/FileContentIndex/36ff1097-9151-4ddc-b827-828e689a144b.vsidx
RPG_Game/.vs/RPG_Game/FileContentIndex/58873be4-7cc5-4934-99e6-0b861bdc763d.vsidx
/RPG_Game/.vs/RPG_Game/FileContentIndex
/RPG_Game/.vs
/RPG_Game/.vs
/RPG_Game/.vs/RPG_Game/CopilotIndices
RPG_Game/.vs/RPG_Game/CopilotIndices/17.14.1147.5054/CodeChunks.db-shm
RPG_Game/.vs/RPG_Game/CopilotIndices/17.14.1147.5054/CodeChunks.db
RPG_Game/.vs/RPG_Game/CopilotIndices/17.14.1147.5054/CodeChunks.db-wal
RPG_Game/.vs/RPG_Game/CopilotIndices/17.14.1147.5054/SemanticSymbols.db-wal
RPG_Game/RPG_Game/obj/Debug/net8.0/RPG_Game.AssemblyInfoInputs.cache
RPG_Game/RPG_Game/obj/Debug/net8.0/RPG_Game.AssemblyInfo.cs
RPG_Game/.vs/RPG_Game/v17/DocumentLayout.json
RPG_Game/.vs/RPG_Game/v17/.suo
